.ui-pagination-container {
	height: 34px;
	line-height: 34px;
}

.ui-pagination-container .ui-pagination-page-item {
	z-index: 2;
	font-size: 10px;
	padding: 6px 10px;
	background: #fff;
	border: 0.5px solid #ddd;
	border-radius: 4px;
	color: #337ab7;
	margin: 0 2px;
	text-decoration: none;
}

.ui-pagination-container .ui-pagination-page-item:hover {
	/*border-color: #568dbd;
	color: #568dbd;*/
	background-color: #eee;
	text-decoration: none;
}

.ui-pagination-container .ui-pagination-page-item.active {
	color: #FFFFFF;
	background: #568dbd;
	cursor: default;
}

/*分页*/
.info {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

.info button, .info input {
	height: 25px;
	padding: 2px;
	font-size: 12px;
}

.info input {
	padding-left: 5px;
}

.page-input {
	width: 80px;
	margin: 0;
}

.current-page {
	margin-right: 30px;
    display: inline;
}


.page-input input {
	color: #444444;
	
}
